button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .on {
    /*color: gold;*/
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);

  }
  .off {
    color: #ccc;
  }