.NavBar {
    /*background: hsl(245, 44%, 65%);*/
    background-color: #CCCCFF;/*#373a47;*/;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 999; /*make sure navbar is seen in front of page*/
    /*opacity: 0.5;/*0.9*/
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.NavBar nav ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.NavBar nav ul li {
    display: inline-block;
    margin: 20px;
    font-size: 30px;
    float: right;
}

.NavBar nav ul li a {
    text-decoration: none;
    color: white
}

.NavBar a:hover {
    /*border-bottom: 2px solid grey*/
    color: chocolate
}