.history-container {
    /*padding: 20px;*/
    border: 1px solid #ccc;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.history-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Tooltip styling */
#history-tooltip {
  width: auto !important;
  max-width: none !important;
  white-space: nowrap !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}
